{%  extends 'base.html' %}
{% block content1 %}
<br>
<hr>
<h1>{{menu123}}</h1>
<h1>{{title |slugify }}</h1>
<p> {{float}}</p>
<p>{{ value|default:"nothing" }} </p>
<p>{{ url }} </p>
<p>{{ 12 }} </p>
<p>{{ url1 }} </p>
<br>
<a href="{% url 'about' %}"> О сайте</a>
<br>
{% include 'women/includes/nav.html' only  %}
<ul>
    {% for p in posts %}
    <li>
        <h2>{{ p.FIO }} </h2>
        <p> {{ p.intresting }} </p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% include 'women/includes/nav.html' %}


{% endblock %}
